#main {
    display:grid;
    grid-template-columns: 200px 1fr;
    border-bottom:5px solid green;
}
#title {
padding-left:10px;
    padding-top:10px;
    text-align:center;
}
#pic2 {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
#pic2 img {
    width:200px;

}
#pic img {
    padding-top:20px;
    padding-bottom:10px;
}
ol {
    font-size:15px;
    list-style-type:disc;
    border-right:3px solid gray;
    padding-top:30px;
}
ol li {
    margin:10px;
}
a {
    text-decoration:none;
}
#body {
    display:grid;
    grid-template-columns:200px 1fr;
}
#cont {
    padding-left:30px;
}
table {
    border:1px solid black;
}
#name {
    border: 1px solid black;
    padding : 10px;
    color:brown;
    background-color:bisque;
}
td, tr {
    border: 1px solid black;
    padding:5px;
}
.list {
    text-align:center;
    font-weight:550;
}
@media(max-width:700px){
    #main{
    display: block;}
    #body {
    display:block;
    }
    ol {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
}